<header>
    <h1> Flats </h1>
    <h3> Boas vindas ao sistema de locação de apartamentos </h3>
    <div>=================================================================</div>
    <nav>
    <%= link_to("Cadastre seu imóvel aqui", new_property_path)%>
    </nav>
    <div>=================================================================</div>
</header>

<aside>
    <h3> Filtrar os imóveis disponíveis por tipo:</h3>
    <nav>
        <% @property_types.each do |pt| %>
            <%= link_to pt.name, property_type_path(pt) %>
        <% end %>
        <div>=================================================================</div>
    </nav>
    <h3> Filtrar os imóveis disponíveis por região:</h3>
    <nav>
        <% @property_regions.each do |pr| %>
            <%= link_to pr.name, property_region_path(pr) %>
        <% end %>
        <div>=================================================================</div>
    </nav>
</aside>

<%= render "shared/property_preview" %> 
